<footer class="text-white px-5 pb-6 max-w-6xl mx-auto">
    <ul class="block sm:grid sm:grid-cols-2 lg:grid-cols-4 gap-4 justify-items-start lg:justify-items-center flex-wrap space-y-2 sm:space-y-0">
        <li class="font-bold text-center text-lg hover:text-blue-400"><a href="https://www.facebook.com/groups/368908883137347/">BC Melee (Facebook)</a></li>
        <li class="font-bold text-center text-lg hover:text-blue-400"><a href="https://www.facebook.com/groups/BCSmash">BC Ultimate (Facebook)</a></li>
        <li class="font-bold text-center text-lg hover:text-blue-400"><a href="https://discord.gg/9K987ZfwrU">BC Smash (Discord)</a></li>
        <li class="font-bold text-center text-lg hover:text-blue-400"><a href="https://twitter.com/BCSmashUltimate">BC Ultimate (Twitter)</a></li>
    </ul>
</footer>
